.container{
 margin: 20px;
}

.header{
  height: 50%;
 display: flex;
 margin: 20px;
}

.header > :nth-child(1){
  flex-basis: 60%;
  text-align: center;
}

.header > :nth-child(2){
  flex-basis: 40%;
}

li{
  cursor: pointer;
}

li:hover{
  color: lightcoral;
}


ul > li{
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.d1{
  width: 250px;
  height: 25px;
  position: absolute;
  right: 150px;
  top: 21px;
  border: 1px solid lightgrey;
}

.d2{
  position: absolute;
  right: 155px;
  top: 25px;
  color: orange;
  cursor: pointer;
}

.banner > img{
  width: 100%;
  height: 250px;

}

.banner > div{
  top: 50%;
  left: 50%;
  color: orange;
  width: 500px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -300%);
}

.banner{
  margin-bottom: 20px;
}

.banner span{
  color: white;
  margin: 10px;
  font-size: 12px;
}

.banner button{
  border: none;
  color: white;
  background-color: orange;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.middle {
  margin: 70px;
  text-align: center;
}

.middle-1{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  
}

.m1{
  color: orange;
  width: 80px;
  height: 80px;
  border: 15px solid orange;
  border-radius: 50%;
  padding: 15px;
}

.middle-2{
 margin: 70px;
 text-align: center;
}


