.container{
  width: 1000px;
  margin: 30px;
}

.header{
  width: 100vw;
  height: 80px;
  background-color: white;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  position: relative;
}

li{
  cursor: pointer;
}

li:hover{
  color: lightcoral;
}

.header1{
  border: 1px solid lightgray;
  
}

ul{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.banner > img{
  width: 186%;
  height: 350px;

}

img{
  display: block;
}

.banner > div{
  position: absolute;
  top: 50%;
  left: 50%;
  color: lightsalmon;
  width: 400px;
  text-align: center;
  padding: 20px 30px;
  transform: translate(-200px, -300px);
}

.banner{
  margin-bottom: 20px;
}

.banner span{
  color: white;
  margin: 10px;

}

.banner button{
  border: none;
  color: white;
  background-color: lightcoral;
  width: 150px;
  height: 30px;
  margin-top: 20px;
}

.middle {
  font-size: 30px;
}

.middle-1{
  display: flex;
  justify-content: space-around;
}

.middle-2{
  font-size: 30px;
}


