.container{
  width: 70vw;
  height: 100vh;
  margin-top: 100px;
  margin-left: 250px;
}

.header{
  width: 100%;
  height: 50px;
  background-color: lightgoldenrodyellow;
  display: flex;
  align-items: center;
  
}

.header > ul{
  display: flex;
  width: 70%;
  margin: 0 auto;
}

/* me> ul 앞에 점 없애는거 */
ul, li{
  list-style: none;
}

.header > ul > li{
  width: 120px;
  text-align: center;
  font-weight: 900;
  color: darkolivegreen;
  font-size: 18px;
  display: flex;
  justify-content: space-around;

}


